@use './../../partials/colors' as *;

.buy-home__results {
    background-color: $medium-grey;
}

.listings {
    display: flex;
    flex-direction: column;

    &__header {
        padding: 1rem;
    }

    &__container {
        padding: 1rem;

        &--grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: .625rem;
        }
    }

    &__pagination {
        display: grid;
        place-items: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}