@use './../../partials/colors' as *;

.buy-home__results {
    background-color: $medium-grey;
}

.listings {
    display: flex;
    flex-direction: column;

    &__header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: .8125rem;
    }

    &__houses-for-sale {
        font-size: 1rem;
        font-weight: 450;
        b {
            font-size: 1.2rem;
            font-weight: 550;
            padding-right: 0.4rem;
        }
    }

    &__selected-filters-container {
        display: flex;
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: .625rem;
    }

    &__selected-filters, &__clear-button {
        font-weight: 450;
        padding: .1875rem .9375rem;
        border-radius: 1.5625rem;
    }

    &__selected-filters {
        background-color: $brick;
        color: $white;
    }

    &__clear-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $grey;
        cursor: pointer;

        svg {
            margin-left: 0.5rem;
        }
    }
    

    &__container {
        width: 100%;
        padding: 1rem;
        gap: .625rem;

        &--grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        &--list {
            display: flex;
            flex-direction: column;

        }
    }

    &__pagination {
        display: grid;
        place-items: center;
        padding-top: 1rem;
        padding-bottom: 2rem;

        .ant-pagination-item-active {
            border-color: $brick !important;
            overflow: hidden;

            a {
                color: $brick !important;
                background-color: $light-grey;
            }
        }
    }
}