@use './../../partials/colors' as *;

.hero {
    height: 100vh;
    width: 100vw;
    transform: translateY(-10vh);
    position: relative;

    &::before {
        z-index: 2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
    }

    &__player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__link-container {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            z-index: 3;
            position: absolute;
            top: 40%;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            text-align: center;
            width: 25%;
            height: 20%;
            background: rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &:first-of-type {
                left: 18%;
                border: .1875rem solid $white;

                h2, h3 {
                    color: $white;
                }
            }

            &:last-of-type {
                right: 18%;
                border: .1875rem solid $brick;

                h2 {
                    color: $brick;
                }

                h3 {
                    color: $white;
                }
            }
        }
    }
}