.buy-home {
    display: grid;
    grid-template-areas:
        "search search search"
        "filter results results";

    grid-template-rows: 10vh 1fr;
    grid-template-columns: 23vw 1fr;

    &__search {
        grid-area: search; 
    }

    &__filters {
        grid-area: filter; 
    }

    &__results {
        grid-area: results; 
    }
}