.buy-home {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "search search search"
        "filter results results";

    grid-template-rows: 10vh 1fr;
    grid-template-columns: 23vw 1fr;

    &__search {
        background-color: yellow;
        grid-area: search; // Removed quotes
    }

    &__filters {
        background-color: red;
        grid-area: filter; // Removed quotes
    }

    &__results {
        background-color: green;
        grid-area: results; // Removed quotes
    }
}