@use "./../../partials/mixins" as *;
@use "./../../partials/colors" as *;

.header {
  z-index: 2;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $black-transparent;
  color: $white;
  height: 9vh;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 10%;
    display: flex;
    align-items: center;

    img {
      height: 8vh;
    }
  }

  &__nav {
    width: 90%;

    ul {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__list-item {
    height: 100%;
    list-style-type: none;
    padding-right: 1.8rem;
    border: none;

    &:last-child {
      padding-right: 0;
    }

    a {
      text-decoration: none;
      color: $white;
      font-size: 1.0625rem;
      font-weight: 400;
    }

    .active {
      color: $brick;
      font-weight: 600;
    }
  }
}