$black: rgb(31, 31, 31);
$black-transparent: rgb(31, 31, 31, .9);
$white: rgb(255, 255, 255);
$light-gray: rgb(243, 243, 243);
$brick: rgb(207, 74, 59);

$shadow:  rgba(99, 99, 99, 0.3) 0rem .125rem 1.5625rem 0rem;

$button-primary: rgb(207, 74, 59);