@font-face {
  font-family: "Avenir Next";
  src: url("./../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("./../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
